In [1]:
import pandas as pd
import re

In [2]:
df_books = pd.read_parquet('books_additional.parquet')

In [4]:
df_news = pd.read_parquet('news_additional.parquet')

In [5]:
df_news.head(5)

,title,url,date
0,"Oil in the Gulf, then and now",https://www.koreatimes.co.kr/www/nation/2024/0...,2010. 6. 1.
1,"Oil in the Gulf, then and now",https://www.koreatimes.co.kr/www/nation/2024/0...,2010. 6. 1.
2,Debt-laden Dubai discovers new offshore oil field,https://www.france24.com/en/20100204-debt-duba...,2010. 2. 4.
3,"Finance & Development, June 2010 - Reducing th...",https://www.imf.org/external/pubs/ft/fandd/201...,2010. 6. 16.
4,Record 2.5 bln barrels of oil futures traded T...,https://www.reuters.com/article/idUSLDE63D283/,2010. 4. 14.

In [6]:
df_books.head(5)

,title,url,date
0,Using Microbes To Increase Recovery Of Oil. By...,https://books.google.co.kr/books?id=KgROAAAAIB...,1986. 1. 14.
1,Speculation Follows Drop In Oil Prices.,https://books.google.co.kr/books?id=WbdjAAAAIB...,1986. 1. 21.
2,Oil Price Decline Could Continue. By Kathleen ...,https://books.google.co.kr/books?id=6J4_AAAAIB...,1986. 1. 21.
3,Iran To Cut Crude Oil Output In Half In Respon...,https://books.google.co.kr/books?id=WklPAAAAIB...,1986. 1. 27.
4,Iran To Cut Crude Oil Output In Half In Respon...,https://books.google.co.kr/books?id=WUlPAAAAIB...,1986. 1. 26.

In [7]:
df = pd.concat([df_news,df_books])

In [13]:
df['date'] = df['date'].str.strip()

In [14]:
df.loc[3241]

,title,url,date
3241,Ethanol replaces crude oil at Clatskanie port,https://tdn.com/news/local/ethanol-replaces-cr...,2016. 9. 3.
3241,Iran Guards In Boats Hit Two Ships.,https://books.google.co.kr/books?id=k4NTAAAAIB...,1987. 9. 3.

In [15]:
df['date'] = pd.to_datetime(df['date'], format='%Y. %m. %d.')

In [16]:
df

,title,url,date
0,"Oil in the Gulf, then and now",https://www.koreatimes.co.kr/www/nation/2024/0...,2010-06-01
1,"Oil in the Gulf, then and now",https://www.koreatimes.co.kr/www/nation/2024/0...,2010-06-01
2,Debt-laden Dubai discovers new offshore oil field,https://www.france24.com/en/20100204-debt-duba...,2010-02-04
3,"Finance & Development, June 2010 - Reducing th...",https://www.imf.org/external/pubs/ft/fandd/201...,2010-06-16
4,Record 2.5 bln barrels of oil futures traded T...,https://www.reuters.com/article/idUSLDE63D283/,2010-04-14
...,...,...,...
11924,There's Natural Oil. Underfoot,https://books.google.co.kr/books?id=CdwyAAAAIB...,2009-05-11
11925,"Gasoline Expected To Rise, But Remain Cheap.",https://books.google.co.kr/books?id=wM80AAAAIB...,2009-04-15
11926,Gas Prices.,https://books.google.co.kr/books?id=fYtcAAAAIB...,2009-05-22
11927,Albany Area Gas Prices Start To Creep Back Up .,https://books.google.co.kr/books?id=YzpEAAAAIB...,2009-02-10
11928,Gasoline Expected To Remain Cheap. Li Josef. C...,https://books.google.co.kr/books?id=7ytEAAAAIB...,2009-04-15

In [17]:
# Sort by date
sorted_df = df.sort_values(by='date')

In [19]:
additional_df = sorted_df

In [28]:
additional_df.to_parquet('newsdata_addtional.parquet', engine = 'pyarrow', compression = 'gzip', index = False)

In [29]:
additional_df = pd.read_parquet('newsdata_addtional.parquet')

In [22]:
original_df = pd.read_parquet('newsdata_preprocessed+embedding.parquet')

In [25]:
original_df.rename(columns = {'published_date' : 'date'}, inplace = True)

In [42]:
additional_df['date'][0]

Timestamp('1986-01-01 00:00:00')

In [47]:
original_df['date'] = pd.to_datetime(original_df['date'], format='%Y-%m-%d')

In [48]:
final_df = pd.concat([additional_df, original_df])

In [49]:
final_df = final_df.reset_index(drop = True)

In [50]:
final_df

,title,url,date,embedding
0,Crude Oil Finds Off Target: Apea.,https://books.google.co.kr/books?id=qQEUAAAAIB...,1986-01-01,NaN
1,Mexico Announces Retroactive Crude Oil Price C...,https://books.google.co.kr/books?id=5MosAAAAIB...,1986-01-01,NaN
2,Mexico Tries New Strategy In Cutting Oil Price .,https://books.google.co.kr/books?id=27oyAAAAIB...,1986-01-01,NaN
3,Mexico Cuts Crude Oil Price.,https://books.google.co.kr/books?id=LgROAAAAIB...,1986-01-01,NaN
4,Oil Prices Set To Take Further Cuts.,https://books.google.co.kr/books?id=MQROAAAAIB...,1986-01-02,NaN
...,...,...,...,...
27966,Crude oil up on tensions in West Asia China ec...,https://www.business-standard.com/markets/news...,2024-01-30,"[-0.259634465, 0.0312142223, 0.322663069, 0.24..."
27967,Oil settles lower on faltering China economy U...,https://www.reuters.com/markets/commodities/oi...,2024-01-31,"[-0.0813784599, 0.104424357, 0.538641691, 0.37..."
27968,Crude oil declines as Chinese manufacturing ac...,https://www.thehindubusinessline.com/markets/c...,2024-01-31,"[0.00711747445, 0.0783436373, 0.620830119, 0.4..."
27969,Irans oil exports reach 5year high with China ...,https://asia.nikkei.com/Business/Markets/Commo...,2024-01-31,"[-0.160559565, -0.0998382643, 0.315434992, 0.1..."
27970,US Crude Oil Stocks Rose For the Week,https://www.wsj.com/business/energy-oil/u-s-cr...,2024-01-31,"[-0.312405109, -0.362817287, 0.294909924, 0.36..."

In [51]:
final_df.sort_values(by = 'date')

,title,url,date,embedding
0,Crude Oil Finds Off Target: Apea.,https://books.google.co.kr/books?id=qQEUAAAAIB...,1986-01-01,NaN
1,Mexico Announces Retroactive Crude Oil Price C...,https://books.google.co.kr/books?id=5MosAAAAIB...,1986-01-01,NaN
2,Mexico Tries New Strategy In Cutting Oil Price .,https://books.google.co.kr/books?id=27oyAAAAIB...,1986-01-01,NaN
3,Mexico Cuts Crude Oil Price.,https://books.google.co.kr/books?id=LgROAAAAIB...,1986-01-01,NaN
4,Oil Prices Set To Take Further Cuts.,https://books.google.co.kr/books?id=MQROAAAAIB...,1986-01-02,NaN
...,...,...,...,...
27965,Oil prices rise as IMF boosts growth forecast ...,https://www.cnbc.com/2024/01/30/crude-oil-pric...,2024-01-30,"[-0.0419776663, -0.217742249, 0.320906818, 0.0..."
27968,Crude oil declines as Chinese manufacturing ac...,https://www.thehindubusinessline.com/markets/c...,2024-01-31,"[0.00711747445, 0.0783436373, 0.620830119, 0.4..."
27969,Irans oil exports reach 5year high with China ...,https://asia.nikkei.com/Business/Markets/Commo...,2024-01-31,"[-0.160559565, -0.0998382643, 0.315434992, 0.1..."
27967,Oil settles lower on faltering China economy U...,https://www.reuters.com/markets/commodities/oi...,2024-01-31,"[-0.0813784599, 0.104424357, 0.538641691, 0.37..."
27970,US Crude Oil Stocks Rose For the Week,https://www.wsj.com/business/energy-oil/u-s-cr...,2024-01-31,"[-0.312405109, -0.362817287, 0.294909924, 0.36..."

In [52]:
def text_preprocess(text):
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    text = re.sub(r'\s+', ' ', text)
    
    return text

In [55]:
final_df['title'] = final_df['title'].apply(text_preprocess)

In [56]:
final_df.drop('embedding', axis = 1, inplace = True)

In [57]:
final_df

,title,url,date
0,Crude Oil Finds Off Target Apea,https://books.google.co.kr/books?id=qQEUAAAAIB...,1986-01-01
1,Mexico Announces Retroactive Crude Oil Price Cut,https://books.google.co.kr/books?id=5MosAAAAIB...,1986-01-01
2,Mexico Tries New Strategy In Cutting Oil Price,https://books.google.co.kr/books?id=27oyAAAAIB...,1986-01-01
3,Mexico Cuts Crude Oil Price,https://books.google.co.kr/books?id=LgROAAAAIB...,1986-01-01
4,Oil Prices Set To Take Further Cuts,https://books.google.co.kr/books?id=MQROAAAAIB...,1986-01-02
...,...,...,...
27966,Crude oil up on tensions in West Asia China ec...,https://www.business-standard.com/markets/news...,2024-01-30
27967,Oil settles lower on faltering China economy U...,https://www.reuters.com/markets/commodities/oi...,2024-01-31
27968,Crude oil declines as Chinese manufacturing ac...,https://www.thehindubusinessline.com/markets/c...,2024-01-31
27969,Irans oil exports reach 5year high with China ...,https://asia.nikkei.com/Business/Markets/Commo...,2024-01-31
27970,US Crude Oil Stocks Rose For the Week,https://www.wsj.com/business/energy-oil/u-s-cr...,2024-01-31

In [58]:
final_df.to_parquet('newsdata.parquet', engine = 'pyarrow', compression = 'gzip', index = False)