## 모델링 3

In [23]:
import pandas as pd

df = pd.read_csv("영화_최종데이터_v4.csv")

In [24]:
df.columns

Index(['Movie', 'Date', 'Total Sales', 'Sales Share', 'Cumulative Sales',
       'Total Attendance', 'Cumulative Attendance', 'Screen Count',
       'Show Count', 'Country', 'Production Country', 'Production Company',
       'Distributor', 'Level', 'Director', 'Production Budgets', 'Success',
       'actor1', 'actor2', 'actor3', 'genre1', 'genre2', 'rating', 'sentiment',
       'YearMonth', '남자 인구수', '여자 인구수', '총인구수', '가계지출', '소비지출', '비소비지출',
       'ViewCount', 'LikeCount', 'Actor1', 'Actor2', 'Actor3', 'Month',
       'GENRE1', 'GENRE2', 'DIRECTOR', 'PRODUCTION COMPANY'],
      dtype='object')

### 관람연령 인코딩

In [25]:
df['Level'].unique()

category_mapping = {'전체관람가': 1, '12세이상관람가': 2, '15세이상관람가': 3, '청소년관람불가': 4}
df['LEVEL'] = df['Level'].replace(category_mapping)
df

,Movie,Date,Total Sales,Sales Share,Cumulative Sales,Total Attendance,Cumulative Attendance,Screen Count,Show Count,Country,...,LikeCount,Actor1,Actor2,Actor3,Month,GENRE1,GENRE2,DIRECTOR,PRODUCTION COMPANY,LEVEL
0,서울의 봄,2023-11-22,127926589712,0.051,127926589712,13128020,13128020,2463,374531,한국,...,18708.0,7424560.0,6676369.0,7593444.5,11,0.12,NaN,6.1,23.0,2
1,범죄도시2,2022-05-18,129317928648,0.052,131298796478,12510481,12693415,2521,353993,한국,...,23841.0,7994955.7,6832765.5,12693415.0,5,0.17,0.13,5.8,44.0,3
2,파묘,2024-02-22,115063079635,0.046,115063079635,11904253,11904253,2367,363781,한국,...,11026.0,11904253.0,7589735.5,4794673.6,2,0.30,0.17,6.5,199.0,3
3,아바타: 물의 길,2022-12-14,137647702899,0.055,137647702899,10805065,10805065,2809,283037,미국,...,12620.0,5081675.7,5517888.5,5517888.5,12,0.06,0.19,7.7,NaN,2
4,범죄도시3,2023-05-31,104687737771,0.042,104687737771,10682813,10682813,2582,311915,한국,...,5738.0,10682813.0,7994955.7,10682813.0,5,0.17,0.13,5.8,44.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,블랙폰,2022-09-07,1085449042,0.000,1085449042,107715,107715,495,10809,미국,...,368.0,107715.0,107715.0,107715.0,9,0.17,NaN,5.6,NaN,3
159,스마일,2022-10-06,1124306658,0.000,1124306658,105651,105651,455,7659,미국,...,429.0,105651.0,105651.0,105651.0,10,0.10,0.17,5.0,NaN,4
160,뉴 노멀,2023-11-08,987958873,0.000,987958873,103037,103037,546,10934,한국,...,2075.0,103037.0,103037.0,103037.0,11,0.25,0.12,5.5,1.0,3
161,비키퍼,2024-04-03,962290905,0.000,962290905,102969,102969,713,13022,미국,...,85.0,667462.3,407665.0,102969.0,4,0.08,0.08,5.3,NaN,4
162,엘비스,2022-07-13,1098745318,0.000,1098745318,101522,101522,665,10094,미국,...,1573.0,101522.0,101522.0,101522.0,7,0.05,NaN,5.0,NaN,3

### 배우1,2,3, 장르1,2 평균값 구해서 하나의 열로 만들기['Actor','Genre']

In [26]:
df['Actor'] = df[['Actor1','Actor2','Actor3']].mean(axis = 1,skipna=True).round(2)
df['Genre'] = df[['GENRE1','GENRE2']].mean(axis = 1,skipna=True).round(2)

In [27]:
ddf = df[['Genre','DIRECTOR','LEVEL','Actor','sentiment','ViewCount','LikeCount','PRODUCTION COMPANY']]

### 평균값으로 null 값 대체

In [28]:
mean_values = ddf.mean()
ddf_filled = ddf.fillna(mean_values)
ddf_filled

,Genre,DIRECTOR,LEVEL,Actor,sentiment,ViewCount,LikeCount,PRODUCTION COMPANY
0,0.12,6.1,2,7231457.83,82.06,3322023.0,18708.0,23.000000
1,0.15,5.8,3,9173712.07,77.67,3910955.0,23841.0,44.000000
2,0.24,6.5,3,8096220.70,52.67,3107834.0,11026.0,199.000000
3,0.12,7.7,2,5372484.23,56.42,2385290.0,12620.0,77.341463
4,0.15,5.8,3,9786860.57,57.46,1995731.0,5738.0,44.000000
...,...,...,...,...,...,...,...,...
158,0.17,5.6,3,107715.00,48.73,56755.0,368.0,77.341463
159,0.14,5.0,4,105651.00,77.27,425019.0,429.0,77.341463
160,0.18,5.5,3,103037.00,75.50,116346.0,2075.0,1.000000
161,0.08,5.3,4,392698.77,46.90,612436.0,85.0,77.341463
162,0.05,5.0,3,101522.00,87.20,1582681.0,1573.0,77.341463

### 스케일링

In [29]:
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler()

# 데이터프레임의 각 열에 대해 StandardScaler 적용
scaled_data = scaler.fit_transform(ddf_filled)

# 스케일링된 데이터로 새로운 데이터프레임 생성
df_scaled = pd.DataFrame(scaled_data, columns=ddf_filled.columns)

In [30]:
# null 값이 있는 행 찾기
rows_with_null = df_scaled[df_scaled.isnull().any(axis=1)]

print("Null 값이 있는 행:")
rows_with_null

Null 값이 있는 행:

Empty DataFrame
Columns: [Genre, DIRECTOR, LEVEL, Actor, sentiment, ViewCount, LikeCount, PRODUCTION COMPANY]
Index: []

### modeling

In [31]:
df_x = df_scaled[['Genre','DIRECTOR','LEVEL','Actor','sentiment','ViewCount','LikeCount','PRODUCTION COMPANY']]
df_y = df['Success']

### 로지스틱

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier



# 학습용과 검증용 데이터 분할
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=42)

# 로지스틱 회귀 모델 학습
model = LogisticRegression()
model.fit(df_x_train, df_y_train)

# 검증용 데이터로 예측
y_pred = model.predict(df_x_test)

# 모델 평가
accuracy = accuracy_score(df_y_test, y_pred)
print(f'정확도: {accuracy:.2f}')

report = classification_report(df_y_test, y_pred)
print('분류 보고서:\n', report)

정확도: 0.70
분류 보고서:
               precision    recall  f1-score   support

         0.0       0.61      0.79      0.69        14
         1.0       0.80      0.63      0.71        19

    accuracy                           0.70        33
   macro avg       0.71      0.71      0.70        33
weighted avg       0.72      0.70      0.70        33

### 랜덤포레스트

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier


# 학습용과 검증용 데이터 분할
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=42)
model.fit(df_x_train, df_y_train)


# 랜덤포레스트 모델 학습
model1 = RandomForestClassifier()

model1.fit(df_x, df_y)


# 특성 중요도 출력
feature_importances = model1.feature_importances_
print(len(feature_importances))
important_features = pd.Series(feature_importances, index=ddf_filled.columns).sort_values(ascending=False)
print(important_features)

8
PRODUCTION COMPANY    0.198618
Actor                 0.169322
LikeCount             0.150894
sentiment             0.142053
ViewCount             0.115561
DIRECTOR              0.093177
Genre                 0.084568
LEVEL                 0.045806
dtype: float64

In [34]:
# 학습용과 검증용 데이터 분할
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=42)
model.fit(df_x_train, df_y_train)


# 검증용 데이터로 예측
y_pred = model.predict(df_x_test)

# 모델 평가
accuracy = accuracy_score(df_y_test, y_pred)
print(f'정확도: {accuracy:.2f}')

report = classification_report(df_y_test, y_pred)
print('분류 보고서:\n', report)

정확도: 0.70
분류 보고서:
               precision    recall  f1-score   support

         0.0       0.61      0.79      0.69        14
         1.0       0.80      0.63      0.71        19

    accuracy                           0.70        33
   macro avg       0.71      0.71      0.70        33
weighted avg       0.72      0.70      0.70        33

In [35]:
df1_x = df_scaled[[ 'Actor', 'PRODUCTION COMPANY', 'sentiment', 'ViewCount', 'LikeCount','DIRECTOR']]
df1_y = df['Success']


# 학습용과 검증용 데이터 분할
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df1_x, df_y, test_size=0.2, random_state=42)
model.fit(df_x_train, df_y_train)


# 검증용 데이터로 예측
y_pred = model.predict(df_x_test)

# 모델 평가
accuracy = accuracy_score(df_y_test, y_pred)
print(f'정확도: {accuracy:.2f}')

report = classification_report(df_y_test, y_pred)
print('분류 보고서:\n', report)

정확도: 0.70
분류 보고서:
               precision    recall  f1-score   support

         0.0       0.62      0.71      0.67        14
         1.0       0.76      0.68      0.72        19

    accuracy                           0.70        33
   macro avg       0.69      0.70      0.69        33
weighted avg       0.71      0.70      0.70        33

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report


# 수치형 데이터는 스케일링
numerical_cols = [ 'DIRECTOR', 'Actor', 'PRODUCTION COMPANY', 'sentiment', 'ViewCount', 'LikeCount']
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

In [37]:
# 전처리 파이프라인 정의
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols)
    ])

# 모델 정의: 랜덤 포레스트 분류기
model = RandomForestClassifier(n_estimators=100, random_state=42)

# 파이프라인 정의
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', model)])

# 교차 검증 (Cross-validation)을 통한 모델 평가
cv_scores = cross_val_score(clf, df_x, df_y, cv=5, scoring='accuracy')

print(f"평균 정확도 (Cross-validation 평균): {cv_scores.mean():.2f}")
print("각 Fold의 정확도:", cv_scores)

# 전체 데이터를 사용하여 모델을 학습시킴 (실제 예측시에는 학습된 모델을 사용하여 예측)
clf.fit(df_x, df_y)

# 예측 및 성능 평가
y_pred = clf.predict(df_x)
print("\n전체 데이터에 대한 분류 보고서:\n", classification_report(df_y, y_pred))

평균 정확도 (Cross-validation 평균): 0.64
각 Fold의 정확도: [0.66666667 0.63636364 0.66666667 0.625      0.625     ]

전체 데이터에 대한 분류 보고서:
               precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        80
         1.0       1.00      1.00      1.00        83

    accuracy                           1.00       163
   macro avg       1.00      1.00      1.00       163
weighted avg       1.00      1.00      1.00       163